{% extends "base.html" %}

{% block pagetitle %}
Epoi Adminstration
{% endblock %}

{% block content %}
    <h1>Point-of-Interest Editor Adminstration Page</h1>
    <h2>All epoi icons, their meaning and their relation to osm tags.</h2>
    Click on the icon's title to change the osm_tags used to select it.

    <table border="1">
        {% for icon in icons %}
        <tr>
            <td><a href='/epoiadmin/icon?id={{icon.id}}'>{{icon.name}}</a> </td>
            <td><img src="/{{icon.file}}" /><td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

